@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

.appContainer{

    box-sizing: border-box;
    padding: 40px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1
}
::-webkit-scrollbar-thumb{
    background: #1abc9c;
}